/* Importando estilos base do Tailwind */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* Estilos básicos para links */
a {
  color: var(--color-wine);
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: var(--color-wine-dark);
  }
}

/* Definindo cores de fundo padrão e cor do texto para a página */
body {
  color: var(--color-black);
  @apply font-sans;
  line-height: 1.6;

}

/* Estilos para cabeçalhos */
h1, h2, h3, h4, h5, h6 {
  color: var(--color-wine);
}

.shadow-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Caso queira outros estilos globais, adicione-os aqui */
